<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SFTPConnector.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Throttle 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ThrottleMountHelper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7150E162D631D08009C4217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7150E2D2D631D0A009C4217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7150E372D631D0A009C4217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73ED4F32DD1793900933671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73ED5052DD1793A00933671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73ED50F2DD1793A00933671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BEDF5E2D6EF03300E72E6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7FBEAD02D72B96800D0A365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
